<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallT.IReserve.dao.IReserveDao">

	<resultMap type="com.smallT.IReserve.entity.THouseDay" id="resultMap">
		<result column="droomno" property="dRoomNo" />
		<result column="roomno" property="roomNo"/>
		<result column="hdate" property="hDate" />
		<result column="state" property="state" />
		<result column="uname" property="uName" />
		<result column="synstate" property="synState" />
		<result column="hotelid" property="hotelId" />
		
	</resultMap>

	<insert id="insertDayInfo" parameterType="com.smallT.IReserve.entity.THouseDay">
		 insert into thouseday(droomno,roomno,hdate,state,uname,synstate,hotelid) 
		 values 
		 (#{dRoomNo},#{roomNo},#{hDate},#{state},#{uName},#{synState},#{hotelId})
	</insert>
	
	<select id="getAllHouse" resultType="com.smallT.IReserve.entity.THouse">
		select * from thouse 
	</select> 
	
	<select id="isTimeExit" resultType="int">
		select count(*) from thouseday where droomno=#{dRoomNo}
	</select> 
	
</mapper>  